.user-auth-form {
  background-color: rgb(227, 227, 227);
  height: 700px;
  width: 700px;
  display: flex;
  margin: auto;
  font-family: Nunito;
  flex-direction: column;
}

.close-x {
  display: flex;
  justify-content: flex-end;
  padding: 35px;
}

.user-auth-form h3 {
  margin-top: 50px;
  font-size: -webkit-xxx-large;
}

.user-auth-form h4 {
  /* margin-top: 100px; */
  font-size: large;
  width: 60%;
  margin: auto;
  color: rgb(133, 133, 133);
}

.login-form {
  /* background-color: rgb(227, 227, 227); */
  background-color: red;
  height: 350px;
  width: 350px;
  border: 1px black;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 500px;
}

.user-auth-label {
  margin-top: 20px;
  font-size: large;
}

.login-input {
  margin: auto;
  width: 450px;
  height: 35px;
  position: relative;
}

.user-auth-form-submit {
  width: 450px;
  height: 35px;
  background-color: #ee5253;
  font-size: medium;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.user-auth-form h6 {
  font-size: small;

}