.window {
  height: 100vh;
}

.homepage-main {
  display: grid;
  grid-template-columns: 15% auto;
  font-family: Nunito;
  height: 100%;
}

.homepage-sidebar {
  padding-top: 15px;
  background-color: #151b26;
}

.sidebar-logo-group {
  display: flex;
  padding-left: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.home-logo-img {
  height: 30px;
  width: 30px;
  padding-right: 5px;
}

.home-organa {
  font-size: larger;
  color: white;
}


.homepage-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 25px;
}

.home-label {
  padding-left: 15px;
  font-size: larger;
  font-weight: bolder;
}

.home-nav-buttons {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  justify-content: space-between;
  width: 150px;
}

.new-button {
  height: 35px;
  width: 70px;
  border-radius: 5px;
  font-size: medium;
  background-image: linear-gradient(to top right, #ff5263 0%, #e66353 35%, #fcbd01 100%);
  color: white;
  cursor: pointer;
}

.profile-dropdown {
  position: relative;
  width: 75px;
  right: 0px;
  z-index: 1;
  font-size: 16px;
  display: inline-block;
}

.profile-dropdown-button {
  cursor: pointer;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  font-size: small;
  z-index: 2;
  /* position: relative; */
  background-color: #aa62e3;
  color: white;
  margin-bottom: 3px;
}

.profile-hover-dropdown-content {
  display: none;
  position: absolute;
  background-color: #151b26;
  color: white;
  font-size: smaller;
  width: 90px;
  height: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding-top: 10px;
  margin-top: 40px;
  z-index: 1;
  padding-right: 10px;
  align-items: center;
}


.profile-dropdown:hover .profile-hover-dropdown-content {
  display: block;
  z-index: 3;
}

.homepage-main .tasks-section {
  height: 100px;
  padding: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepage-main .recent-projects-container {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

.tasks-projects-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.outer-tasks-projects-container {
  display: flex;
  justify-content: center;
}

.tasks-section-label {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(215, 214, 214);;
}

.recent-projects-label {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(215, 214, 214);
}

.sidebar-menu {
  padding-top: 20px;
  display: flex;
  text-align: left;
  flex-direction: column;
  flex-direction: column;
  border-bottom: .1px solid rgb(47, 47, 47);
}

.sidebar-menu-home {
  height: 35px;
  width: 100%;
  align-items: center;
  display: flex;
}

.sidebar-menu-home .home-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.sidebar-menu-home .sidebar-home-img {
  width: 25px;
  height: auto;
  padding: 10px;
}

.sidebar-placeholder-li {
  height: 35px;
  width: 100%;
}

.fav-reports-features-placeholder {
  height:140px;
  width: 100%;
  border-bottom: .1px solid rgb(47, 47, 47);
}

.sidebar-team-section {
  height: 35px;
  width: 85%;
  border-bottom: .1px solid rgb(47, 47, 47);
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.sidebar-team-link {  
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 14px;
}

.homepage-sidebar .sidebar-projects-list-link {
  text-decoration: none;
  color: white;
}

.new-button-dropdown {
  width: 120px;
  height: auto;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  margin-top: 10px;
  text-align: left;
}

.new-button-ul li {
  margin: 10px;
  font-size: 13px;
  text-align: center;
  align-items: center;
  display: flex;
}

.checkbox {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.clipboard {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.new-button-dropdown-link {
  text-decoration: none;
  color: black;
}