.home-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.homepage-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 25px;
  z-index: 0;
}

.home-label {
  padding-left: 15px;
  font-size: larger;
  font-weight: bolder;
}

.home-nav-buttons {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  justify-content: space-between;
  width: 150px;
}

.new-button {
  height: 35px;
  width: 70px;
  border-radius: 5px;
  font-size: medium;
  background-image: linear-gradient(to top right, #ff5263 0%, #e66353 35%, #fcbd01 100%);
  color: white;
  cursor: pointer;
}

.profile-dropdown {
  position: relative;
  width: 75px;
  right: 0px;
  z-index: 1;
  font-size: 16px;
  display: inline-block;
}

.new-button-dropdown {
  width: 120px;
  height: auto;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
  box-sizing: border-box;
  flex-grow: 1;
  position: absolute;
  margin-top: 10px;
  text-align: left;
  z-index: 3;
  background-color: white;
}

.new-button-ul li {
  margin: 10px;
  font-size: 13px;
  text-align: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.clipboard {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.new-button-dropdown-link {
  text-decoration: none;
  color: black;
}

.new-task-modal {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translate(0%, 0%);
  display: flex;
  justify-content: center;
  width: 450px;
  height: 450px;
  border: 1px solid grey;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.new-task-modal-nav {
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-end;
  margin: 10px;
}

.new-task-close-x {
  margin: 10px;
  cursor: pointer;
}

.nav-bar-new-task-form {
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.new-task-name-input {
  height: 35px;
  width: 90%;
  text-align: left;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 15px;
}

.new-task-form-labels {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.new-task-for {
  font-size: 13px;
  color: grey;
  margin-left: 20px;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 125px;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 40px;
  margin-left: 10px;
}

.new-task-initials {
  border-radius: 100%;
  background-color: #aa62e3;
  margin: 1px;
  color: white;
  font-size: small;
  height: 30px;
  width: 30px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}


.in {
  font-size: 13px;
  color: grey;
  margin-left: 10px;
}

.project-select-button {
  margin-left: 10px;
  height: 20px;
  border-radius: 40px;
  font-size: 14px;
  border: 1px dashed grey;
  display: flex;
  align-items: center;
  padding: 5px;
}

.description-input {
  width: 90%;
  margin-left: 15px;
  height: 230px;
  border: none;
} 

.new-task-submit {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 30px;
  font-size: 13px;
  font-family: Nunito;
  color: #a09f9f;
  background-color: #eaeaea;
  border-radius: 5px;
}

/* .description-input:focus::placeholder {
  opacity: 1; 
  transition: opacity .5s;
} */

.new-task-projects-list {
  height: 200px;
  width: 200px;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.project-modal-div {
  position: absolute;
}

.project-modal-ul {
  position: fixed;
  margin-top: 85px;
  background-color: white;
  border: 1px solid grey;
  height: 100px;
  width: 250px;
  font-size: 13px;
  padding: 10px;
  text-align: left;
}

.project-modal-li {
  padding: 5px;
  cursor: pointer;
}

.new-task-save-button {
  position: absolute;
  width: 90px;
  justify-content: center;
  display: flex;
  bottom: 10px;
  right: 10px;
  font-family: Nunito;
  color: grey;
}