.profile-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 10;
}

.profile-dropdown-button {
  position: relative;
}

.profile-modal-child {
  position: absolute;
  top: 70px;
  right: 15px;
  width: 300px;
  height: 100px;
  background-color: white;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  border-image: linear-gradient(to right, #32c1ff 50%, #9287ff 100%) 1;
  border-top: 4px solid;
  display: flex;
  flex-direction: column;
  font-family: Nunito;
  margin: auto;
  box-sizing: border-box;
}

.profile-modal {
  width: 300px;
  height: 100px;
}

.profile-dropdown {
  height: 100%;
  width: 100%;
}

.current-project-label {
  width: 300px;
  height: 30px;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid rgb(215, 214, 214);
}


.profile-and-logout .logout-button {
  width: 300px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-family: Nunito;
  font-size: 14px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}




