.project-item {
  height: 175px;
  width: 120px;
  text-align: center;
  margin: 20px;
}

.project-item .edit-modal {
  position: absolute;
  bottom: -300px;
  height: 350px;
  width: 550px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: Nunito;
  text-align: left;
  background-color: white;
  box-sizing: border-box;
}

.edit-transparent-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  /* z-index: 20; */
}

.edit-dropdown {
  position: absolute;
  width: 170px;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: Nunito;
  text-align: left;
  font-size: 13px;
  color: black;
}

.edit-dropdown-ul li {
  padding: 10px 0px 10px 10px;
  cursor: pointer;
}

.edit-dropdown-ul li:hover  {
  background-color: #edf1f2;
}

.project-item .project-menu {
  position: relative;
}

.edit-modal-label {
  border-bottom: 1px solid rgb(215, 214, 214);
  margin-top: 20px;
  padding-bottom: 10px;
}

.project-item .dynamic-project-name {
  margin-left: 24px;
  padding-bottom: 10px;
  font-size: 20px;
  color: black;
  width: 100%;
}

.edit-project-name {
  color: rgb(108, 107, 107);
  padding-bottom: 10px;
}

.project-item .text-input-label {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(108, 107, 107);
    font-size: 12px;
}

.project-item .project-form-name {
  margin-left: 10px;
  height: 35px;
  width: 385px;
  border-radius: 3px;
  border: 1px solid gray;
  padding-left: 10px;
  font-size: 12px;
  font-family: Nunito;
  box-sizing: border-box;
}

.edit-project-form-description {
  margin-left: 10px;
  height: 50px;
  width: 385px;
  border-radius: 3px;
  border: 1px solid gray;
  padding-left: 10px;
  font-size: 12px;
  font-family: Nunito;
  box-sizing: border-box
}

.project-item .textarea-input-label {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(108, 107, 107);
  font-size: 12px;
  cursor: pointer;
}

.project-item .project-form-description {
  margin-left: 10px;
  height: 50px;
  flex: 1;
  border-radius: 3px;
  border: 1px solid gray;
  padding-left: 10px;
  font-size: 12px;
  font-family: Nunito;
  box-sizing: border-box;
}

.project-item .submit-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.project-item .update-form-submit-button {
  width: 130px;
  height: 40px;
  background-color: #14aaf5;
  border-radius: 5px;
  font-family: Nunito;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 14px;
}

.project-item .update-input {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px
}

.project-item .project-square {
  height: 120px;
  width: 120px;
  background-color: #ff5263;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.recent-projects-index-ul {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.project-name-label {
  font-size: 12px;
  font-weight: bolder;
  margin-top: 10px;
}

.project-item .project-square-top {
  display: flex;
  justify-content: flex-end;
}

.project-menu-dots {
  width: 20px;
  height: auto;
  margin: 10px;
}

.hamburger-img {
  width: 40px;
  height: auto;
  padding-top: 10px;
}

.new-project-item {
  height: 175px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 20px;
}

.new-project-item .new-project-button {
  height: 120px;
  width: 120px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px;
  border-style: dashed;
  font-size: xx-large;
  color: rgb(191, 191, 191);
  cursor: pointer;
}

.new-project-item .new-project-label {
  font-size: 12px;
  font-weight: bolder;
  margin-top: 10px;
}



